<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="logo.png">
    <title>
        Student Login

    </title>
</head>

<body>
    
    <div id="container" class="container">
        
        <!-- FORM SECTION -->
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <!-- SIGN UP -->
                <div class="col align-items-center flex-col sign-up">
                    <!-- <form method="POST" enctype="multipart/form-data" action="{% url 'register' %}"> -->
                    <!-- {% csrf_token %} -->
                    <div class="form-wrapper align-items-center">
                        <div class="form sign-up">
                            <div class="input-group">
                                <i class='bx bxs-user'></i>
                                <input type="text" placeholder="Register Number" name="Register_No" required>
                            </div>
                            <div class="input-group">
                                <i class='bx bx-mail-send'></i>
                                <input type="email" placeholder="Email" name="email">
                            </div>
                            <div class="input-group">
                                <textarea id="w3review" name="w3review" rows="4" cols="55"
                                    placeholder="Complaints"></textarea>
                            </div>
                            <div>
                                <i class='bx bxs-lock-alt'></i>
                                <label></label>
                                <input type="file" id="myFile" name="Upload Here"
                                    style="font-weight: bolder;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

                            </div>
                            <button type="submit">
                                Submit
                            </button>
                            
        </form>
        <form method="POST">
            {% csrf_token %}
            <br>
            <br>
            <h2 style="font-style: italic;"><b>OR</b></h2>
            <div class="input-group">
                <i class='bx bxs-user'></i>
                <input type="text" placeholder="Register Number" name="Register_No">
            </div>
            <button type="submit">
                Check Status
            </button>

    </div>

    </div>
    </div>
    </form>


    </div>


    <!-- END SIGN UP -->
    <!-- SIGN IN -->

    <!-- END SIGN UP CONTENT -->
    </div>

    <!-- END CONTENT SECTION -->

    </div>

    <script>
        let container = document.getElementById('container');

        toggle = () => {
            container.classList.toggle('sign-up');
            container.classList.toggle('sign-in');
        }

        // Show sign-up page initially
        setTimeout(() => {
            container.classList.add('sign-up');
        }, 200);


    </script>
</body>

</html>