<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   

    <h2>PARCEL DETAILS</h2>

    <form method="post">
        <!-- Use appropriate action and method attributes based on your server-side implementation -->
        <!-- #{% csrf_token %} -->

        <label for="parcelId">Parcel ID:</label>
        <input type="text" id="parcelId" name="parcelId" required>

        <!-- {% comment %} --><label for="senderName">Sender's Name:</label>
        <!-- <input type="text" id="senderName" name="senderName" required> {% endcomment %} -->

        <label for="senderContact">Recipient's Email:</label>
        <input type="Email" id="recEmail" name="recEmail" required> 

        <label for="recipientName">Recipient's Name:</label>
        <input type="text" id="recName" name="recName" required>

        <label for="recipientContact">Recipient's Contact:</label>
        <input type="number" id="recContact" name="recContact" required>

        <label for="deliveryDate">Expected Delivery Date:</label>
        <input type="date" id="delDate" name="delDate" required>

        <label for="company">Select Company:</label>
        <select id="company" name="company" required>
            <option value="amazon">Amazon</option>
            <option value="flipkart">Flipkart</option>
            <option value="myntra">Myntra</option>
            <option value="nykaa">Nykaa</option>
            <option value="meesho">Meesho</option>
            <option value="others">Others</option>
            <!-- Add more options as needed -->
        </select>

        {% comment %} <label for="additionalNotes">Additional Notes:</label>
        <textarea id="additionalNotes" name="additionalNotes" rows="4"></textarea> {% endcomment %}

        <button type="submit">Add Parcel Details</button>
    </form>

</body>
</html>