<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form class="form" method="post">
        {% csrf_token %}
        <img src="https://i.pinimg.com/236x/4d/a8/bb/4da8bb993057c69a85b9b6f2775c9df2.jpg" alt="profile" width="70">
        <small>Have an Account? <a class="aa" href="{% url 'index' %}"> Sign In</a></small>
        <input type="email" autocomplete placeholder="Email" id="Email" name="Email">
        <input type="name" autocomplete placeholder="Name" id="Name" name="Name">
        <input type="text" autocomplete placeholder="Phone Number" id="Phone_Number" name="Phone_Number">
        <input type="text" autocomplete placeholder="Registration Number" id="Reg_No" name="Reg_No">
        <input type="password" placeholder="Password" id="pass" name="pass">
        <input type="password" placeholder="Confirmm Password" id="cpass" name="cpass">
        <button type="submit">Sign UP</button>>
        <a id="forgot" class="aa">Forgot Your Password?</a>
        
    </form>
</body>

</html>